@model AddressBookApp.Models.People

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>People</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
     
        <dt>
            @Html.DisplayNameFor(model => model.Addresses)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Street</th>
                    <th>House</th>
                    <th>Post Code</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
                @foreach (var item in Model.Addresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem=>item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                        </td>

                    </tr>

                }
            </table>
        </dd>
       
        
        <dt>
            @Html.DisplayNameFor(model => model.PersonNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonNumber)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PeopleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
